

<div class="container" id="vacation-index">
  <div id="vacations" class="transitions-enabled">
    <!-- <ul> -->
      <% @vacations.each do |vacation| %>
        <div class="box panel panel-default">
        	<%= link_to (image_tag vacation.image.url(:medium)), vacation %>
          <div class="panel-footer ">
            <%= link_to vacation.title, vacation %>
          	<p><%= vacation.user.username %></p>
          </div>
        </div> 
      <% end %>
    <!-- </ul> -->
  </div>
</div>