<div class="container">
  <div class="col-md-6 col-md-offset-3">
  	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h1>Share a Vacation</h1>
    	</div>
    	<div class="panel-body">
    		<%= render "vacations/form" %>
    	</div>
    </div>
  </div>
</div>