body {
background: #f7f7f7;
font-family: Arial;
}

img {
	border: 0px;
}

/* REQ:5 STAR RATING CSS */
#rateStatus{float:left; clear:both; width:100%; height:16px;}
    #rateMe{float:left; clear:both; width:100%; height:auto; padding:0px; margin:0px;}
    #rateMe li{float:left;list-style:none;}
    #rateMe li a:hover,
    #rateMe .on{background:url(images/star.png) no-repeat;}
    #rateMe a{float:left;background:url(images/empty_star.png) no-repeat;width:16px; height:16px;}
    #ratingSaved{display:none;}
    .saved{color:red; }
    
/* Wallpaper Site Script popup */
#ava-popup {
    
    position: fixed;
    top: 30%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 3px solid #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    display: none;
    
    z-index: 3;
}

#overlay{
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50; }
}
* html #overlay{
    background-color: #333;
    background-color: transparent;
    background-image: url(blank.gif);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src="/images/overlay.png", sizingMethod="scale");
}
#ava-popup-header {
	background: url(images/h3.png);
	height: 15px;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	padding: 5px;
	padding-left: 8px;
}
#ava-popup-content {
	padding: 10px;
}
#ava-popup-title {
	float: left;
}
#popup-close-button {
	float: right;
	margin-right: 8px;
}
.comment_report_textbox {
	border: 1px solid #7b7b7b;
	width: 577px;
}
.comment_report_text {
	font-size: 12px;
}

/* Sitewide styles */

h1 {
	font-family: Arial;
	background: #2e6181 url("images/h1.png");
	font-size: 13px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	color: #fff;
	padding: 7px;
	overflow: hidden;
	font-weight: bold;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
h1 a {
	color: #fff;
}

h2 {
font-family: Arial;
background: url("images/menu_background.png");
font-size: 15px;
font-weight: normal;
margin: 10px 0px 10px 0px;
color: #FFF;
padding: 7px;
overflow: hidden;
font-weight: bold;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

h3 {
	font-family: Arial;
	background: #2e6181 url("images/h1.png");
	font-size: 15px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	color: #fff;
	padding: 7px;
	overflow: hidden;
	font-weight: bold;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

h3 a {
	color: #fff;
}

.header {
	max-width: 1024px;
	min-width: 1024px;
	margin: auto;
	height: 80px;
}

.header_logo {
	float: left;
}
.header_right {
	float: right;
	padding: 6px 10px 0px 0px;
}
.mc_bg {
	background: #314758;
	margin: auto;
	max-width: 1024px;
	min-width: 1024px;
}
.main_container {
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	overflow: auto;
	*overflow: inherit;
	height: 100%;
	
	padding-bottom: 25px;
	background: #fff url(images/small_shadow.png) repeat-x;
}

.menu {
	height: 45px;
	background-color: #385266;
	margin: auto;
	
	background-image: url("images/menu_background.png");
	
	-webkit-border-top-right-radius:13px;
	-moz-border-top-right-radius:13px;
	border-top-right-radius:13px;
	-webkit-border-top-left-radius:13px;
	-moz-border-top-left-radius:13px;
	border-top-left-radius:13px;
	
	max-width: 1024px;
	min-width: 1024px;
}

.menu_item a {
	float: left;
	padding: 5px;
	text-decoration: none;
	color: #fff;
	font-family: Helvetica;
	padding: 5px 10px 3px 10px;
	font-size: 13px;
	height: 17px;
	
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: #000 0px 1px 0px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.menu_item a:hover, .menu_item_rounded a:hover {
	background-image: url("images/menu_item_selected.png");
}

.menu_item .round_corner {
	-webkit-border-top-left-radius:15px;
	-moz-border-top-left-radius:15px;
	border-top-left-radius:15px;
}

.menu_left {
	float: left;
	width: 665px;
	padding-top: 10px;
	padding-left: 15px;
}
.menu_right {
	float: right;
	padding-right: 10px;
}

.search_contain_left {
	float: left;
}
.search_contain_right {
	float: left;
	margin-left: 5px;
}

.left_sidebar {
	float: left;
	width: 170px;
	padding-bottom: 15px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	background: #FFFFFF;
	
	-webkit-border-bottom-right-radius:8px;
	-moz-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}
.module_wallpaper {
	padding: 4px;
}
.center_column {
	margin-left: 190px;
	margin-right: 180px;
}

.center_container {
	margin: auto;
	padding-right: 10px;
}

.secondary_container {
}

.right_sidebar {
	width: 159px;
	float: right;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 10px 10px;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	
	-webkit-border-bottom-left-radius:8px;
	-moz-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	
	font-size: 14px;
}

.right_sidebar ul, .left_sidebar ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
.right_sidebar li, .left_sidebar li {
	font-family: Arial;	
	font-size: 13px;
	color: #242424;
}
.right_sidebar a, .left_sidebar a {
	border-bottom: 1px solid #ebebee;
	margin-right: 10px;
	font-family: Arial;
	color: #414242;
	text-decoration: none;
	width: 160px;
	padding: 4px 0px;
	font-size: 15px;
	display: block;
}

.no_recents {
	color: #284f84;
	text-align: center;
	padding-top: 5px;
}

.stats_ul li {
	border-bottom: 1px solid #ebebee;
	margin-right: 10px;
	font-family: Arial;
	color: #242424;
	text-decoration: none;
	width: 160px;
	display: block;
	padding: 4px 0px;
	font-size: 13px;
}
.right_sidebar a:hover, .left_sidebar a:hover {
	color:#1d4668;
}

.right_sidebar p {
	margin: 4px 0px;
	font-family: Helvetica;
	color: #21304e;
	font-size: 12px;
}
.header_overflow {
	width: 100%;
	overflow: auto;
}
#error_message, .pm_no_messages {
	padding: 5px 5px 5px 10px;
	background-color: #f2eeb0;
	margin-bottom: 20px;
	color:#BF9E1B;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #e5d727;
}	
.module_notice {
	color: #5e85a5;
	font-size: 13px;
}
/* Right sidebar - User area */
.ua_avatar_container {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid #EBEBEE;
}
.ua_avatar {
	margin-top: 5px;
	font-family: Arial;
	text-align: center;
}
.ua_info {
	font-family: Arial;
	margin-bottom: 20px;
	margin-top: 5px;
}
.ua_username {
	margin-top: 2px;
	margin-bottom: 5px;
	font-family: Arial;
	text-align: center;
}
.fb_button {
	padding: 0 0 0 1px !important;
	display: inline block !important;
}
.fb_button_text {
	font-size: 10px;
	display: inline block !important;
	text-transform: none;
}
.fb_button_rtl {
	display: inline block !important;
}

/* Adverts */
.ad_banner {
	text-align: center;
	padding-top: 4px;
}
.ad_banner_footer {
	text-align: center;
	padding-top: 25px;
}
.ad_banner_misc {
	text-align: center;
	padding-bottom: 4px;
}
.ad_banner_profile {
	text-align: center;
	padding-top: 4px;
}
.ad_banner_home {
	text-align: center;
	padding-top: 4px;
}

/* Forms */

.mini_login_form {
	margin-bottom: 15px;
}

.mini_login_textbox {
	border: 1px solid #ccc;
	width: 155px;
	height: 22px;
	background: url(images/mini_textbox.png);
	font-size: 12px;
	padding-left: 4px;
}

.mini_login_button {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid #c8c5cc;
	margin: 5px 0px 5px 55px;
	padding: 3px;
	background: url(images/mini_button.png);
}

.mini_login_button:hover {
	background: url(images/mini_textbox.png);
}

.search_box {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #f5fffc;
	background-color: #fff;
	height: 24px;
	width: 250px;
	background: url(images/mini_textbox.png) repeat-x #fff;
	font-size: 14px;
	font-family: Arial;
	padding-left: 4px;
	color: #414443;
	margin-top: 7px;
	line-height: 24px;
}
.footer {
	background: #314758;
	margin: auto;
	max-width: 1024px;
	min-width: 1024px;
	text-align: center;
	color: #fff;
	padding: 10px 0px;
	font-size: 12px;
	
	-webkit-border-bottom-right-radius:13px;
	-moz-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
}
.footer a {
	color: #fff;
}
.form_textbox {
	border: 1px solid #ccc;
	width: 250px;
	height: 25px;
	background: url(images/mini_textbox.png) repeat-x;
	font-size: 12px;
	padding-left: 4px;
}
.register_form {
	font-size: 14px;
}
/* Homepage */
.wallpaper_item {
	float: left;
	padding: 7px;
	width: 45.9%;
	text-align: center;
	margin: 5px;
	font-family: Arial;
	font-size: 13px;
	height: 208px;
	
	background:(white) bottom repeat-x;
	
	border: 1px solid #F0F0F0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow: 0px 0px 4px 1px #cccccc;
	-moz-box-shadow: 0px 0px 4px 1px #cccccc;
	box-shadow: 0px 0px 4px 1px #cccccc;
}
.wallpaper_item_name {
	margin-top: 4x;
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: #fff 0px 1px 0px;
}
.wallpaper_item a {
	color: #283741;
	text-decoration: none;
	display: block;
}
.homepage_featured {
	width: 100%;
	overflow: auto;
}
.homepage_new {
	width: 100%;
	overflow: auto;
}
.homepage_category {
	width: 100%;
	overflow: auto;
}

/* Homepage categories */
.wallpaper_item2 {
	float: left;
	padding: 5px;
	width: 29.7%;
	text-align: center;
	margin: 5px;
	font-family: Arial;
	font-size: 12px;
	height: 120px;
	
	background: url(images/wallpaper_item_bg2.png) bottom repeat-x;
	
	border: 1px solid #ba89aa;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow: 0px 0px 4px 1px #cccccc;
	-moz-box-shadow: 0px 0px 4px 1px #cccccc;
	box-shadow: 0px 0px 4px 1px #cccccc;
}
.wallpaper_item2_name {
	margin-top: 3px;
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: #fff 0px 1px 0px;
}
.wallpaper_item2 a {
	color: #88526d;
	text-decoration: none;
	display: block;
}

/* Wallpaper preview page */
.wallpaper_preview {
	text-align: center;
	margin-bottom: 10px;
}
.resolutions_container {
	margin-top: 10px;
}
.wallpaper_info {
	font-family: Arial;
	color: #181818;
	padding: 7px;
	overflow: hidden;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #4E7792;
	
	background: url(images/wallpaper_item_bg.png) bottom repeat-x;
}
.wallpaper_info a {
	color: #424242;
}
.wallpaper_info_left {
	float: left;
	width: 50%;
	border-right: 1px solid #4E7792;
}
.wallpaper_info_right {
	float: right;
	width: 49%;
}
.wallpaper_info_right a {
	text-decoration: none;
}
.social_text {
	font-size: 12px;
	margin: 5px 0px;
}
.refer_textbox {
	border: 1px solid #ccc;
	width: 250px;
	height: 22px;
	background: url(images/mini_textbox.png);
	font-size: 12px;
	padding-left: 4px;
}
.info_item_title {
	color: #1B2B3F;
}
.info_item {
	font-size: 16px;
	margin-bottom: 6px;
	color: #565656;
}
.info_item_right {
	font-size: 16px;
	height: 40px;
}
.random_wallpapers {
	overflow: auto;
}
.wallpaper_options {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #f0d2dd;
	
	background: url(images/wallpaper_item_bg2.png) bottom repeat-x;
	padding: 5px;
	overflow: auto;
	margin: 10px 0px;
}
.option_float {
	float: left;
	margin-right: 10px;
}
.option_float a {
	font-size: 12px;
	color: #424242;
	text-decoration: none;
}
.option_float a:hover {
	text-decoration: underline;
}
#reportwallpaper {
	background: url(images/report.png) no-repeat;
	padding-left: 20px;
	padding-top: 1px;
	height: 15px;
}
#favbutton {
	background: url(images/fav.png) no-repeat;
	padding-left: 20px;
	padding-top: 1px;
	height: 15px;
}
#editbutton {
	background: url(images/edit.png) no-repeat;
	padding-left: 20px;
	padding-top: 1px;
	height: 15px;
}

/* Wallpaper comments */
#comments ul {
	list-style: none;
	margin:0px;
	padding:0px;
}

#comments ul li {
	line-height: 150%;
	margin-bottom:15px;
	padding: 5px 5px;
	overflow:hidden;
	border: 1px solid #507aa3;
	width: 97%;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	background: #dbdde7 url(images/comment_background.png) repeat-x;
}
.add_comment_box {
	width: 450px;
	display:block;
	margin:20px auto 0 auto;
	border:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:5px;
	background: #fff url(images/mini_textbox.png) repeat-x;
	border:1px solid #8e97ac;
	color: #272625;
}
.comment_button_container {
	text-align:center;
	margin-bottom: 30px;
}
.comment_button_container input {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid #c8c5cc;
	padding: 5px 10px;
	background: url(images/comment_button.png) bottom repeat-x;
	font-size: 14px;
	font-family: Arial;
	color: #333231;
}
.comment_button_container input:hover, .news_comment_button_container input:hover, 

.submit_button:hover, .pm_button:hover, .register_button:hover, .link_button:hover {
	border-color: #b1aeaa;
	color: #000;
}
.comment_avatar {
	float: left;
	margin: 0 5px 0px 5px;
}
.comment_content {
	float: left;
	margin:0 10px 0 0;
	font-family: Arial;
	width: 88%;
	font-size: 14px;
}
.comment_username a {
	color: #13223b;
	text-decoration: none;
}

/* Wallpaper categories */
.category_sort_options, .tag_sort_options, .category_pages, .tag_pages, .search_pages {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #c0dbf8;
	
	background: url() bottom repeat-x;
	padding: 5px;
	overflow: auto;
	margin-bottom: 10px;
	
	font-size: 13px;
	color: #7fb1cc;
}
.category_sort_options a, .tag_sort_options a, .category_pages a, .tag_pages a, .search_pages a {
	color: #12263F;
	text-decoration: none;
}
.category_sort_options a:hover, .tag_sort_options a:hover, .category_pages a:hover, .tag_pages 

a:hover, .search_pages a:hover {
	text-decoration: underline;
}
.category_container, .search_container, .tag_container {
	overflow: auto;
}
.category_pages, .tag_pages, .search_pages {
	margin-top: 10px;
	text-align: center;
}
.sort_bold {
	font-weight: bold;
}
.category_subcats {
	border-bottom: 1px solid #0C77B1;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
/* User Profile */
.profile_header {
	text-align: center;
	margin-bottom: 10px;
}
.profile_username {
	font-family: Arial;
	padding-top: 4px;
}
	
.profile_info {
	font-family: Arial;
	font-size: 14px;
	color: #132d49;
	padding: 7px;
	overflow: hidden;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #8fbad7;
	
	background: url(images/wallpaper_item_bg.png) bottom repeat-x;
}
.profile_info .left {
	float: left;
	width: 50%;
}
.profile_info .right {
	float: right;
	width: 49%;
}
.right_title {
	font-weight: bold;
}
.profile_wallpapers_container {
	overflow: auto;
	text-align: center;
	font-size: 14px;
}

/* EDIT PROFILE */
.edit_avatar_container {
	padding: 10px 0px 10px 10px;
	margin-bottom: 10px;
	overflow:auto;
	color: #284163;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #c0dbf8;
	background: url(images/wallpaper_item_bg.png) bottom repeat-x;
	
}
.edit_info_container {
	padding: 10px 0px 10px 10px;
}
.edit_profile_header {
	font-size: 16px;
	margin-bottom: 5px;
	color: #2c496e;
}	
.edit_profile_lable {
	float:left;
	margin-right:10px;
	width:80px;
	font-size:12px;
	text-align:left;
}
.edit_profile_element {
	float: left;
}
.edit_avatar_element {
	float: left;
	padding-top: 3px;
}
.edit_profile_textbox {
	border: 1px solid #ccc;
	width: 500px;
	height: 25px;
	background: url(images/mini_textbox.png) repeat-x;
	font-size: 12px;
	padding-left: 4px;
}
.edit_profile_textarea {
	border: 1px solid #ccc;
	width: 500px;
	height: 60px;
	background: url(images/mini_textbox.png) repeat-x;
	font-size: 12px;
	padding-left: 4px;
}
.avatar_restrictions_text {
	margin-top: 5px;
}
.avatar_form_text {
	margin-bottom: 5px;
}

/* PM system */
.pm_subject_textbox {
	border: 1px solid #ccc;
	width: 99%;
	height: 22px;
	background: url(images/mini_textbox.png);
	font-size: 12px;
	padding-left: 4px;
}
.pm_message_textbox {
	border: 1px solid #ccc;
	width: 99%;
	height: 60px;
	background: url(images/mini_textbox.png) repeat-x #fff;
	font-size: 12px;
	padding-left: 4px;
}
.pm_sent_container a {
	color: #6381af;
}

/* PM System */

.pm_table td {
	border-bottom: 1px solid #f2f2f2;
	padding: 4px 0px;
}
.pm_table a, .pm_details a {
	color: #496288;
}
.pm_table a:hover, .pm_details a:hover {
	color: #5778be;
}

.pm_subject {
	font-size: 20px;
	font-style: italic;
	color: #294f74;
}
.pm_details {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #c6c6c6;
	color: #3a414a;
}
.pm_message {
	padding: 10px;
}
.pm_footer {
	border-top: 1px solid #c6c6c6;
	margin-top: 10px;
	padding-top: 5px;
	color: #2c4062;
	padding-top: 10px;
}
.pm_footer a {
	text-decoration: none;
	border-radius: 4px;
	background: #496288;
	padding: 4px 6px;
	color: #fff;
	font-size: 14px;
}
.pm_footer a:hover {
	background: #466cad;
}

/* News */
.news_wrapper {
	border-bottom: 1px solid #99b4d6;
	margin-bottom: 10px;
	padding-bottom: 15px;
}
.news_wrapper a {
	color: #163e5f;
	text-decoration: none;
}
.news_header {
	overflow: auto;
	width: 100%;
	padding-bottom: 3px;
	border-bottom: 1px solid #99b4d6;
	background: url(images/news_header.png);
}
.news_image {
	float: left;
	margin-right: 10px;
}
.news_title {
	float: left;
	margin-top: 4px;
}
.news_author {
	font-size: 12px;
}
.news_main {
	font-size: 14px;
}
.news_add_comment_box {
	width: 450px;
	display:block;
	margin:20px auto 0 auto;
	border:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:5px;
	background: #fff url(images/mini_textbox.png) repeat-x;
	border:1px solid #8e97ac;
	color: #272625;
}
.news_comment_button_container {
	text-align:center;
	margin-bottom: 30px;
}
.news_comment_button_container input, .submit_button, .pm_button, .edit_profile_button, 

.register_button, .link_button {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid #c8c5cc;
	padding: 5px 10px;
	background: url(images/comment_button.png) bottom repeat-x;
	font-size: 14px;
	font-family: Arial;
	color: #333231;
}
#news_comments ul {
	list-style: none;
	margin:0px;
	padding:0px;
}

#news_comments ul li {
	line-height: 150%;
	margin-bottom:15px;
	padding: 5px 5px;
	overflow:hidden;
	border: 1px solid #507aa3;
	width: 97%;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	background: #dbdde7 url(images/comment_background.png) repeat-x;
}
/* Submit wallpaper */
.submit_text_box {
	border: 1px solid #ccc;
	width: 400px;
	height: 22px;
	background: url(images/mini_textbox.png);
	font-size: 12px;
	padding-left: 4px;
}
.submit_text_area {
	border: 1px solid #ccc;
	width: 400px;
	height: 60px;
	background: url(images/mini_textbox.png) repeat-x #fff;
	font-size: 12px;
	padding-left: 4px;
}
.submit_form_element_container {
	overflow: auto;
	margin: 0px 0px 3px 0px;
	border: 1px solid #ece8eb;
	padding: 10px 10px 10px 10px;
	background: url(images/form_element_container.png) bottom repeat-x #fff;
	font-size: 13px;
}
.submit_form_lable {
	float: left;
	width: 180px;
	font-size: 14px;
	padding-top: 2px;
}
.submit_form_element {
	float: left;
}
.submit_button_container {
	text-align: right;
	padding-right: 10px;
	padding-top: 8px;
}
/* Member list */
#member_list {
	width: 98%;
	margin-left: 8px;
	color: #2e2e2e;
}
#member_list td {
	border-bottom:1px solid #c5d2eb;
	height: 20px;
	padding:3px 0;
	font-size: 14px;
}
#member_list td a {
	color: #496288;
}
#member_list td a:hover {
	color: #5778be;
}
#member_list img {
	margin-top: 5px;
}

/* Misc */
.link_item {
	border-bottom: 1px solid #a5c4d7;
	padding: 5px 0px;
	font-size: 14px;
}
.link_item a {
	color: #496288;
}
.more_links {
	font-weight: bold;
}

/* Link exchange */
.add_link_form_container {
	margin-bottom: 10px;
}
.link_form_element_container {
	overflow: auto;
	margin: 0px 0px 3px 0px;
	border: 1px solid #ece8eb;
	padding: 10px 10px 10px 10px;
	background: url(images/form_element_container.png) bottom repeat-x #fff;
	font-size: 13px;
}
.link_form_lable {
	float: left;
	width: 180px;
	font-size: 14px;
	padding-top: 2px;
}
.link_form_element {
	float: left;
}
.link_form_element input {
	border: 1px solid #ccc;
	width: 400px;
	height: 22px;
	background: url(images/mini_textbox.png);
	font-size: 12px;
	padding-left: 4px;
}
.link_button_container {
	text-align: right;
}
.link_exchange_info {
	margin-bottom: 10px;
	font-size: 14px;
}
.links_header {
	font-weight: bold;
	color: #4c6374;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

/* Resolutions formatted list */
.resolutions_list_container {
	text-align: left;
	font-size: 14px;
	color: #1b2b3f;
	width: 90%;
	margin: auto;
	overflow: auto;
	
	padding: 15px;
	
	background: url(images/wallpaper_item_bg.png) bottom repeat-x;
	
	border: 1px solid #8fbad7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow: 0px 0px 4px 1px #dddddd;
	-moz-box-shadow: 0px 0px 4px 1px #dddddd;
	box-shadow: 0px 0px 4px 1px #dddddd;
}
.resolutions_list_container a {
	color: #416795;
	text-decoration: none;
}
.resolutions_list_header {
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: bold;
}
.resolutions_list_container a:hover {
	text-decoration: underline;
}
.resolution_title {
	font-weight: bold;
	font-size: 13px;
}
.resolution_category {
	float: left;
	width: 100px;
	margin-right: 10px;
	height: 145px;
}
.resolution_item {

}
/* Profile submitted & favourites, original download button */
.profile_submitted_pages, .profile_fav_pages {
	height: 25px;
	padding-top: 8px;
}
.profile_submitted_pages a, .profile_fav_pages a, .original_download_button {
	text-decoration: none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid #c8c5cc;
	padding: 5px 10px;
	background: url(images/comment_button.png) bottom repeat-x;
	font-size: 14px;
	font-family: Arial;
	color: #333231;
}
.profile_submitted_pages a:hover, .profile_fav_pages a:hover, .original_download_button:hover, 

.profile_pm_button a:hover {
	border-color: #b1aeaa;
	color: #000;
}
.original_download_container {
	margin: 5px 0px;
	height: 25px;
}
.profile_pm_button {
	margin-top: 12px;
}
.profile_pm_button a {
	text-decoration: none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid #c8c5cc;
	padding: 5px 10px;
	background: url(images/comment_button.png) bottom repeat-x;
	font-size: 12px;
	font-family: Arial;
	color: #333231;
	width: 150px;
	margin-top: 10px;
}

.category_menu_item a:hover, .category_menu_item a:hover {
	background-image: url("images/background.png");
}

a:hover .imagedropshadow {
-moz-box-shadow: 0px 0px 5px #999;
-webkit-box-shadow: 0px 0px 5px #999;
box-shadow: 0px 0px 5px #999;
-webkit-transition: all .2s ease-in;
-moz-transform: scale(1.02,1.02);
-webkit-transform: scale(1.02,1.02);
-o-transform: scale(1.02,1.02);
-ms-transform: scale(1.02,1.02);
transform: scale(1.02,1.02);
}

img.imagedropshadow {
padding: 0px;
width: 290px;
height: 180px;
border: solid 0px #EFEFEF;
overflow: hidden;
}

a.readmore {
font-size: 16px;
line-height: 16px;
font-weight: bold;
text-align: center;
color: #5dba82;
margin: 5px auto;
background: url(images/readmore_bg.jpg) center right no-repeat;
padding: 5px 55px 5px 15px;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
box-shadow: 0px 3px 3px #000;
-moz-box-shadow: 0px 3px 3px #000;
-webkit-box-shadow: 0px 3px 3px #000;
border: none;
}

a.readmore:hover {
color: #fff;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
position: relative;
top: 3px;
}

a.tagbutton, a.tagbutton:link, a.tagbutton:visited, a.showbtn, a.showbtn:link, a.showbtn:visited {
display: inline-block;
color: #747474;
background-color: #F8F8F8;
font-weight: bold;
font-size: 14px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 4px;
text-decoration: none;
margin-left: 0;
/* margin-left: 5px; */
margin-top: 0px;
margin-bottom: 5px;
border: 1px solid #aaaaaa;
border: 2px solid #D5D5D5;
border-radius: 5px;
white-space: nowrap;
}

a.tagbutton:hover,a.tagbutton:active,a.showbtn:hover,a.showbtn:active
{
background-color:#ffffff;color:#4A748E;
}

.box1 {
border: 1px solid #E3E3E3;
background: #FFFFFF;
padding: 7px 8px;
border-top: 2px solid #3B599F;
}

.bord {
border: 1px solid #E7E7E7;
background: #F8F8F8;
border-radius: 3px;
display: block;
padding: 10px;
}