<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Welcome to your page: <%= current_user.username %></h2>
			</div>

			<div class="panel-body">
				<div class="col-md-6">
					<p><%= image_tag @user.image.url(:medium) %></p>
					<p><%= @user.username %></p>
					<p><%= @user.email %></p>
				</div>
			</div>
		</div>
	</div>
</div>