// Place all the styles related to the vacations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Vacation's index CSS \\
div#vacations.transitions-enabled.centered.clearfix.masonry{
    margin: 0 auto;
}

div.box.panel.panel-default.masonry-brick{
    margin: 5px;
}

div.panel-footer{
    top: 0;
    left: 0;
    position: absolute;
    width:100%;
    height:100%;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    &:hover{
        opacity: 1;
        a{text-shadow: 0 0 1em rgba(1,1,1, 0.6);}
    }
}

// Vacation's show CSS \\
#vacation-show{
    text-align: center;
    background-color: rgba(20,20,20, .8);
    color:white;
    #show-image{
        height: 100%;
    }
}