<div class="container">
	<div class="col-md-10 col-md-offset">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="text-center">Personal Savings for a Vacation</h2>
			</div>
			<div class="panel-body">
				<h3 class="text-center">Save with three simple steps:</h3>
				<ul>
					<li class="text-center"><strong>1. Pick a destination</strong></li>
					<li class="text-center"><strong>2. Put money into account</strong></li>
					<li class="text-center"><strong>3. Go on Vacation!</strong></li>
				</ul>
				<%= form_tag charges_path, class: "text-center" do %>
				  <article class="text-center">
				    <label class="amount">
				      <span class="text-center">Amount: $1000.00</span>
				    </label>
				  </article>

				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-description="A month's subscription"
				          data-amount="100000"></script>
				<% end %>
			</div>
		</div>
	</div>
</div>